<section>
  <div class="pages-title-area">
    <h4>About</h4>
  </div>
</section>

<section>
  <div class="about-panel"><%- resultAbout.desc %></div>

  <%- resultAbout.desc1 %>
    <div class="about-img">
    <img src="<%- resultAbout.mainImg %>" alt="" />
  </div>
  <%- resultAbout.desc2 %>  
  <div class="about-img-area">
    <img src="<%- resultAbout.sideImg1 %>" alt="" />
    <img src="<%- resultAbout.sideImg2 %>" alt="" />
    <img src="<%- resultAbout.sideImg3 %>" alt="" />
  </div>
  <%- resultAbout.desc3 %>  
 
</section>
