<section>
    <div class="pages-title-area">
      <h4>Blog</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ullam
        consequatur repellat accusamus sit sunt,
      </p>
    </div>
  </section>
  <section>

    <div class="work-panel">
  
      <div class="blogs-area">
      
   
        <% for( let index = 0; index < resultBlog.length; index++ ) { %>
          <div class="blogs-card ">
            <div class="blogs-card-img-area">
              <a href="">
                <img
                  class="blogs-card-img"
                  src="../../uploads/images/<%- resultBlog[index].mainImg.imgName %>"
                  alt=""
                />
              </a>
            </div>
            <div class="blogs-card-text">
              <h5><%- resultBlog[index].tag1 %> / <%- resultBlog[index].tag2 %> / <%- resultBlog[index].tag3 %></h5>
              <a href=""><%- resultBlog[index].shortText %></a>
              <p>
                <%- resultBlog[index].text1 %>
              </p>
            </div>
          </div>
        <% } %>
      </div>
      
    </div>