<section>
  <div class="blog-panel">
    <div class="blog-area">
      <div class="blog-tag">
        <% result.tags.forEach(element => { %>
        <a href=""><%- element.tagName %></a>

        <% }) %>
      </div>
      <div class="blog-title">
        <h5><%- result.title %></h5>
      </div>
      <div class="blog-letter">
        <h4><%- result.desc %></h4>
      </div>
      <div class="blog-main-img">
        <img src="<%- result.mainImg %>" alt="" />
      </div>
     
      <div class="blog-content"><%- result.content %></div>
    </div>
  </div>
</section>
<hr class="now-underline js-scroll fade-in-bottom" />
<section>
  <div class="work-panel">
    <div class="section-title js-scroll fade-in-bottom">
      <h3>Releated Posts</h3>
      <hr class="section-title-line" />
    </div>
    <div class="blogs-area">
      <% for( let index = 0; index < data.length; index++ ) { %>
      <div class="blogs-card js-scroll fade-in">
        <a href="">
          <div class="blogs-card-img-area">
            <img
              class="blogs-card-img"
              src="<%- data[index].mainImg %>"
              alt=""
            />
          </div>
        </a>
        <div class="blogs-card-text">
          <div class="blogs-card-tags">
            <% data[index].tags.forEach(element => { %>
            <h5><%- element.tagName %></h5>

            <% }) %>
          </div>

          <a href=""><%- data[index].title %></a>
          <p><%- data[index].desc %></p>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>
<script>
 
</script>
