<section class="main-panel">
  <div class="main-text-area">
    <div class="main-text">
      <div class="main-title-img">
        <img
          src="<%- result.profilImg %>"
          alt=""
        />
      </div>
      <div class="main-title-area">
        <h4>Hi there, I'm</h4>
      </div>
      <h3>Ahmet Selim Boz</h3>
      <h6><%- result.mainText %></h6>
    </div>
  </div>
  <div class="main-img-area">
    <div class="main-img">
      <img
        src="<%- result.sideImg %>"
        alt=""
        class="main-img-img"
      />
    </div>
  </div>
</section>
<section>
  <div class="now-area">
    <div class="now-title-area js-scroll fade-in">
      <h4>I'm a</h4>
    </div>
    <div class="now-row">
      <div class="now-card js-scroll fade-in-bottom">
        <i class="bx bx-code-alt" id="icon"></i>
        <h2 id="title"><%- result.card1.title %></h2>
        <h4 id="alt-title"><%- result.card1.text %></h4>
      </div>
      <div class="now-card js-scroll fade-in-bottom">
        <i class="bx bx-crown" id="icon"></i>
        <h2 id="title"><%- result.card2.title %></h2>
        <h4 id="alt-title"><%- result.card2.text %></h4>
      </div>
      <div class="now-card js-scroll fade-in-bottom">
        <i class="bx bx-book-open" id="icon"></i>
        <h2 id="title"><%- result.card3.title %></h2>
        <h4 id="alt-title"><%- result.card3.text %></h4>
      </div>
      <div class="now-card js-scroll fade-in-bottom">
        <i class="bx bx-briefcase-alt" id="icon"></i>
        <h2 id="title"><%- result.card4.title %></h2>
        <h4 id="alt-title"><%- result.card4.text %></h4>
      </div>
    </div>
  </div>
</section>
<hr class="now-underline js-scroll fade-in-bottom" />
<section>
  <div class="work-panel">
    <div class="work-title-area js-scroll fade-in-bottom">
      <h5>Portfolio</h5>
      <h4>Check My Works</h4>
      <p>
        You can explore the projects I have developed. Each of them is a special
        work that reflects my talents and creativity and has been a learning and
        discovery experience for me.
      </p>
    </div>
    <div class="work-area">
      <% for( let index = 0; index < resultWork.length; index++ ) { %>
      <div class="work-card js-scroll fade-in">
        <div class="work-card-img-area">
          <a href="/work-detail/<%- resultWork[index].id %>">
            <img
              class="work-card-img"
              src="<%- resultWork[index].mainImg %>"
              alt=""
            />
          </a>
        </div>
        <div class="work-card-text">
          <h5><%- resultWork[index].tag %></h5>
          <a href="/work-detail/<%- resultWork[index].id %>"
            ><%- resultWork[index].name %></a
          >
          <p><%- resultWork[index].text %></p>
        </div>
      </div>
      <% } %>
    </div>
    <div class="work-btn js-scroll fade-in-bottom">
      <a href="/work"
        >See all works<i id="work-icon" class="bx bx-right-arrow-alt"></i
      ></a>
    </div>
  </div>
</section>
<hr class="now-underline js-scroll fade-in-bottom" />
<div class="work-panel">
  <div class="work-title-area js-scroll fade-in-bottom">
    <h5>Jobs</h5>
    <h4>Look At My Work Experience</h4>
    <p>
      You can find the experiences I have gained throughout my career. Each
      experience has provided new learning opportunities and made me a more
      well-rounded developer.
    </p>
  </div>
  <div class="exp-area">
    <% for( let index = 0; index < resultExp.length; index++ ) { %>
    <div class="exp-row">
      <div class="exp-card js-scroll fade-in-bottom">
        <i class="bx bx-caret-right caret"></i>
        <img src="<%- resultExp[index].mainImg %>" class="exp-img" alt="" />
        <div class="exp-text-area">
          <h6><%- resultExp[index].tag %></h6>
          <h2><%- resultExp[index].name %></h2>
          <h4><%- resultExp[index].date %></h4>
          <a href="/work#<%- resultExp[index].id %>"
            >More Info<i id="exp-icon" class="bx bx-right-arrow-alt"></i
          ></a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="work-btn js-scroll fade-in-bottom">
    <a href="/work#exp-section"
      >See all experiences<i id="work-icon" class="bx bx-right-arrow-alt"></i
    ></a>
  </div>
</div>

<hr class="now-underline js-scroll fade-in-bottom" />
<section>
  <div class="work-panel">
    <div class="work-title-area js-scroll fade-in-bottom">
      <h5>Blogs</h5>
      <h4>Latest News</h4>
      <p>
        This section is a window into my adventures and solutions in the world
        of code. In each post, I share my experiences from my software
        development process and try to guide my readers through technical
        issues.
      </p>
    </div>
    <div class="blogs-index-area">
      <% for( let index = 0; index < resultBlog.length; index++ ) { %>
      <div class="blogs-index-card js-scroll fade-in">
        <div class="blogs-index-card-img-area">
          <a href="/blog-detail/<%- resultBlog[index].id %>">
            <img
              class="blogs-index-card-img"
              src="<%- resultBlog[index].mainImg %>"
              alt=""
            />
          </a>
        </div>
        <div class="blogs-index-card-text">
          <div class="blogs-index-card-tags">
            <% resultBlog[index].tags.forEach(element => { %>
            <h5><%- element.tagName %></h5>

            <% }) %>
          </div>
          <a href="/blog-detail/<%- resultBlog[index].id %>"><%- resultBlog[index].title %></a>
          <p><%- resultBlog[index].desc %></p>
        </div>
      </div>
      <% } %>
    </div>
    <div class="work-btn js-scroll fade-in-bottom">
      <a href="/blog"
        >See all posts<i id="work-icon" class="bx bx-right-arrow-alt"></i
      ></a>
    </div>
  </div>
</section>

<hr class="now-underline js-scroll fade-in-bottom" />
<section>
  <div class="work-panel">
    <div class="work-title-area js-scroll fade-in-bottom">
      <h5>References</h5>
      <h4>What People Say About Me</h4>
      <p>
        You can discover the satisfaction and thoughts of my esteemed references
        who have worked with me or have closely observed the way I work.
      </p>
    </div>
    <div class="ref-area js-scroll fade-in-bottom">
      <button class="prev-button" onclick="prevSlide()">
        <i class="bx bx-chevron-left"></i>
      </button>
      <div class="carousel-container">
        <div class="carousel">
          <% for( let index = 0; index < resultRef.length; index++ ) { %>
          <div class="carousel-item">
            <div class="ref-card">
              <div class="ref-card-img">
                <img
                  src="<%- resultRef[index].mainImg %>"
                  alt=""
                />
              </div>

              <div class="ref-card-text">
                <h2><%- resultRef[index].name %></h2>
                <h4><%- resultRef[index].title %></h4>
                <p>
                  <img src="/frontend/assets/quote.png" alt="" />
                  <%- resultRef[index].text %>
                </p>
              </div>
            </div>
          </div>
          <% } %>

          <!-- Add more slides as needed -->
        </div>
        <div class="pagination"></div>
      </div>

      <button class="next-button" onclick="nextSlide()">
        <i class="bx bx-chevron-right"></i>
      </button>
    </div>
    <div class="work-btn js-scroll fade-in-bottom">
      <a href="/work"
        >See them all<i id="work-icon" class="bx bx-right-arrow-alt"></i
      ></a>
    </div>
  </div>
</section>
