<div class="work-panel">
  <div class="work-detail-area">
    <div class="work-detail-img-area">
      <img
        class="work-detail-img"
        src="<%- result.mainImg %>"
        alt=""
      />
    </div>
    <div class="work-detail-text-area">
      <h6><%- result.tag %></h6>
      <h2><%- result.name %></h2>
      <p><%- result.text %></p>
      <div class="work-detail-part">
        <i class="bx bx-caret-right caret-right"></i>
        <h3>Date:</h3>
        <h4><%- result.date %></h4>
      </div>
      <div class="work-detail-part">
        <i class="bx bx-caret-right caret-right"></i>
        <h3>Technologies:</h3>
        <h4><%- result.lang %></h4>
      </div>

      <div class="work-detail-part">
        <i class="bx bx-caret-right caret-right"></i>
        <h3>Link:</h3>
        <h4>
          <a href="https://<%- result.link %>" target="_blank"
            ><%- result.link %></a
          >
        </h4>
      </div>
    </div>
  </div>
  <div class="work-detail-desc">
    <h1 id="text1"><%- result.desc %></h1>
  </div>
</div>

<script>

    
  var h5Element1 = document.getElementById("text1");
  h5Element1.innerText = h5Element1.innerHTML;
</script>
