<div class="row">
  <div class="col-12">
    <div
      class="px-3 py-4 mb-3 rounded d-flex flex-row justify-content-center align-items-center navbar-detached bg-navbar-theme"
      id="layout-navbar"
    >
      <h3 class="m-0"><%- result.name %></h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body demo-vertical-spacing demo-only-element">
        <form
          action="/ref-update"
          method="post"
       
        >
        <div class="mx-2">
          <div class="mb-4 d-flex justify-content-center">
            <img
              id="mainImg"
              src="<%- result.mainImg %>"
              alt="example placeholder"
              style="width: 300px"
            />
          </div>
          <div class="d-flex justify-content-center">
            <div class="btn btn-primary btn-rounded">
              <label
                role="button"
                class="form-label text-white m-1"
                for="customFile4"
                >Choose file</label
              >
              <input
                type="file"
                class="form-control d-none"
                id="customFile4"
                onchange="displaySelectedImage(this, 'mainImg')"
              />
              <input
                type="hidden"
                id="mainImg0"
                name="mainImg"
                value="<%- result.mainImg %>"
              />
            </div>
          </div>
        </div>

          <div class="mb-3">
            <label for="defaultFormControlInput" class="form-label">Name</label>
            <input
              type="text"
              class="form-control"
              id="defaultFormControlInput "
              name="name"
              value="<%- result.name %>"
            />
          </div>
          <div class="mb-3">
            <label for="defaultFormControlInput" class="form-label"
              >Title</label
            >
            <input
              type="text"
              class="form-control"
              id="defaultFormControlInput "
              name="title"
              value="<%- result.title %>"
            />
          </div>
   
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"
              >Text</label
            >

            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              name="text"
              rows="5"
            ><%- result.text %></textarea
            >
          </div>

          <input type="hidden" name="id" value="<%- result.id %>" />
          <div class="text-center">
            <button class="btn btn-success mb-3">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
